

.middle__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  background-color: transparent;
  max-width: 1080px;
  margin: 0 auto;

  .middle__block_wrapper {
    &:first-child {
      margin-top: 50px;
    }

    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    .middle__block {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 200px;
      max-height: 300px;
      margin: 10px;
      color: white;
      overflow: hidden;

      img {
      }

      h1 {
        font-size: inherit;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 900px) {
  .middle__block_wrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    row-gap: 0;
    border: none;
    .middle__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: none;
    }
  }
}

