.wrapper {
  height: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
  .block {
    display: inherit;
    bottom: 150px; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    justify-content: center;
    align-items: center;
    font-size: 30px;
    max-width: 700px;
    height: 400px;
    color: rgb(219, 219, 219);
    transition: 0.5s ease-in;
    animation: welcome-block 1.5s ease-in;
    &:hover {
      opacity: 1;
    }

    span {
      position: relative;
      &::after {
        position: absolute;
        top: 0;
        display: block;
        content: '';
        width: 3px;
        right: -4px;
        height: 40px;
        opacity: 0.6;
        animation: blink 1s infinite;
      }
    }
  }
}

@keyframes arrow {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes blink {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: white;
  }
}

@keyframes welcome-block {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media (max-height: 700px) {
  .block span {
    color: black;
    top: 0;
  }
}

