.footer {
  min-height: 150px;
  background-color: var(--black);
  color: #b3bcbd;
  display: flex;
  justify-content: center;
  align-items: center;
  .wrap {
    display: flex;
  justify-content: center;
  align-items: center;
  .contact_text {
    margin: 15px;
  }
  .icons {
    border-left: 1px solid #b3bcbd;
    .icon {
      margin: 15px;
      opacity: .6;
      transition: .3s ease;
      &:first-child {
        margin-left: 30px
      }
      &:hover {
        opacity: 1
      }
      
    }
  }
  }
 
}

@media (max-width: 350px) {
  .footer {
    height: 200px;
    .wrap {
      flex-direction: column;
      margin-top: none;
      .contact_text {
        border-right: none;
        border-bottom: 1px solid #b3bcbd;
      }
      .icons {
        border: none;
  
        .icon:first-child {
          margin: 15px;
        }
      }
    }
  }
  } 