.wrapper {
  background: rgb(123, 75, 157);
  background: linear-gradient(90deg, rgba(123, 75, 157, 1) 23%, rgba(0, 107, 129, 1) 100%);

  background: url('./assets/background-image.jpg') no-repeat center -50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

@media (max-width: 1150px ) {
  .wrapper {
    background: url('./assets/background-image.jpg') no-repeat center -120px;
  }
}
@media (max-height: 700px) {
  .wrapper {
   background: url('./assets/background-image.jpg') no-repeat center -600px;
  }
}

// OPEN BURGER 

.burger {
    position: fixed;
    display: none;
}

@media (max-width: 600px) {
  .burger {
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
  }
}