.wrapper {
  background-image: url('https://images.unsplash.com/photo-1586020435958-8298e2cb5f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  .welcome_wrapper {
    margin: 10vh 0;
    display: flex;
    justify-content: space-around;
    .welcome_block,
    .welcome_block_with_img {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: contrast(0.8) blur(1px);
      -webkit-box-shadow: 1px 6px 8px 0px rgba(0, 46, 90, 0.2);
      -moz-box-shadow: 1px 6px 8px 0px rgba(0, 46, 90, 0.2);
      box-shadow: 1px 6px 8px 0px rgba(0, 46, 90, 0.2);
      margin: 0 auto;
      width: 400px;
      height: 400px;
      color: white;

      .insertion_point {
        width: 300px;
        height: 30px;
        &::before {
          content: ' ';
          background-color: transparent;
          width: 6px;
          height: 30px;
          animation: insertion-point-text-animation 15s ease;
          font-size: 30px;

        }
        &::after {
          position: absolute;
          content: ' ';
          margin-left: 1.5px;
          width: 6px;
          height: 40px;
          background: var(--light-violet);
          animation: insertion-point-animation 1s ease infinite;
        }
      }
    }

    .welcome_block_with_img {
    }
  }
}

// Animations

@keyframes insertion-point-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes insertion-point-text-animation {
  0% {
    background-color: transparent;
    content: ' ';
  }
  1% {
    background-color: transparent;
    content: 'H';
  }
  2% {
    background-color: transparent;
    content: 'He';
  }
  3% {
    background-color: transparent;
    content: 'Hel';
  }
  4% {
    content: 'Hell';
  }
  5% {
    content: 'Hello';
  }
  6% {
    content: 'Hello,';
  }
  7% {
    content: 'Hello, ';
  }
  8% {
    content: 'Hello, m';
  }
  9% {
    content: 'Hello, my';
  }
  10% {
    content: 'Hello, my ';
  }
  11% {
    content: 'Hello, my n';
  }
  12% {
    content: 'Hello, my na';
  }
  13% {
    content: 'Hello, my name';
  }
  14% {
    content: 'Hello, my name i';
  }
  15% {
    content: 'Hello, my name is';
  }
  16% {
    content: 'Hello, my name is A';
  }
  17% {
    content: 'Hello, my name is Ar';
  }
  18% {
    content: 'Hello, my name is Art';
  }
  19% {
    content: 'Hello, my name is Arte';
  }
  20% {
    background-color: transparent;
    content: 'Hello, my name is Artem';
  }
  28% {
    transition: none;
    background-color: var(--light-violet);
    content: 'Hello, my name is Artem';
  }
  30% {
    background-color: transparent;
    content: '';
  }
  44% {
    content: 'I';
  }
  46% {
    content: "I'";
  }
  48% {
    content: "I'm";
  }
  50% {
    content: "I'm ";
  }
  52% {
    content: "I'm F";
  }
  54% {
    content: "I'm Fr";
  }
  55% {
    content: "I'm Fro"
  }
  56% {
    content: "I'm Fron"
  }
  57% {
    content: "I'm Front"
  }
  58% {
    content: "I'm Fronte"
  }
  59% {
    content: "I'm Fronten"
  }
  60% {
    content: "I'm Frontend"
  }
  61% {
    content: "I'm Frontend "
  }
  62% {
    content: "I'm Frontend D"
  }
  63% {
    content: "I'm Frontend De"
  }
  64% {
    content: "I'm Frontend Dev"
  }
  65% {
    content: "I'm Frontend Deve"
  }
  66% {
    content: "I'm Frontend Devel"
  }
  67% {
    content: "I'm Frontend Develo"
  }
  68% {
    content: "I'm Frontend Develop"
  }
  69% {
    content: "I'm Frontend Develope"
  }
  70% {
    content: "I'm Frontend Developer"
  }
  71% {
    content: "I'm Frontend Developer!"
  }
  72% {
    content: "I'm Frontend Developer! "
  }
  73% {
    content: "I'm Frontend Developer! "
  }
  74% {
    content: "I'm Frontend Developer!  "
  }
  75% {
    background-color: transparent;
    content: "I'm Frontend Developer! "
  }
  76% {
    background-color: var(--light-violet);
    content: "I'm Frontend Developer!"
  }
  100% {
    background-color: var(--light-violet);
    content: "I'm Frontend Developer!"

  }
}
